{% extends 'cabecera.html'  %}

{% block contenido %}
  			<div class="content-box-large">
  				<div class="row">
  					<table class="table stripe row-border nowrap order hover compact"  id="equipos">
						<thead>
							<tr>
								
								<th>Nombre</th>
								<th>version</th>
								<th>dbm</th>
								<th>Ultimo envio</th>
								<th>Update[M]</th>				
								
							</tr>
						</thead>
						


						<tfood>
							<tr>
								<th>Nombre</th>
								<th>version</th>
								<th>dbm</th>
								<th>Ultimo envio</th>
								<th>Update[M]</th>
								
							</tr>
						</tfood>
					</table>
  				</div>
  			</div>

{% endblock %}

   
