{% extends 'cabecera.html'  %}

{% block contenido %}
  			<div class="content-box-large">
  				
  				<div class="panel-body">
  					<table class="stripe row-border order"  id="equipos">
						<thead>
							<tr>
								
								<th>Nombre</th>
								<th>Ultimo dato</th>
								<th>Update[M]</th>				
								
							</tr>
						</thead>
						<tbody>
							
						</tbody>


						<tfood>
							<tr>
								<th>Nombre</th>
								<th>Actualizacion</th>
								<th>Update[M]</th>
								
							</tr>
						</tfood>
					</table>
  				</div>
  			</div>

		  </div>
		</div>
    </div>


{% endblock %}

   
